* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h3, p, li {
    margin: 10px;
}
.description-content,
.description-header {
    border: 1px solid silver;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}
.description-header{
    background: #e6e880;
}
.description-content{
    background: #80e887;
}
#start {
    width: 250px;
    height: 10vh;
    font-size: 40px;
    background: #37783b;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 50px;
}

#start:hover{
    cursor: pointer;
    border: solid 2px #e6e880;
}
.progressBar {
    position: fixed;
    top: 70vh;
    left: 0vw;
    padding: 2.5vh;
}
.progressBar p {
    text-align: center;
}

#nextTask {
    position: fixed;
    right: 2vw;
    bottom: 45vh;
    width: 250px;
    height: 10vh;
    font-size: 24px;
    background: #044302;
    color: aliceblue;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 10px 10px 20px red;
}